* {
   margin: 0;
   padding: 0;
}

main {   
   display: flex;
   justify-content: center;
}

/* PRODUCTS CONTAINER --------------------------------------------------------------------- PRODUCTS CONTAINER */
.products-container {
   background-color: rgb(149, 149, 149);
   margin: 100px 30px;
   max-width: 1200px;
   width: 100%;
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.product {
   border-bottom: 1px solid black;
   width: 100%;

   display: flex;
}

.image {
   width: 150px;
   height: 200px;
   padding: 10px;
   
   display: flex;
}

.image img {
   width: 100%;
   object-fit: cover;
}

.item-infos {
   padding: 10px 10px 10px 0;

   display: flex;
   flex-direction: column;
   flex: 1; /* force all container items to use all the available space */
}

.item-name-and-delete-btn, .item-quantity-and-price {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.item-name-and-delete-btn .item-name {
   font-size: x-large;
}

.item-name-and-delete-btn .delete-btn {
   background-color: rgb(238, 238, 238);
   border-radius: 50%;

   width: 5px;
   height: 5px;
   padding: 15px;
   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;
}

.item-quantity-and-price {
   margin: 10px 0;
}

.quantity-container, .item-price-container {
   display: flex;
   align-items: center;
}

.quantity-container .plus-btn,
.quantity-container .minus-btn {
   background-color: rgb(238, 238, 238);
   border-radius: 5px;

   width: 30px;
   padding: 5px;

   display: flex;
   justify-content: center;
   text-align: center;
   cursor: pointer;
}

.quantity-container span {
   text-align: center;
   width: 30px;
   margin: 0 10px;
}

@media (max-width: 460px) {
   .item-quantity-and-price {
      align-items: flex-start;
      flex-direction: column;
   }
   .item-price-container {
      margin-top: 10px;
   }
}
