.header-cart {
   background-image: none;
}

.banner-free-shipping {
   background-color: lightgray;
   padding: 2rem;
   text-align: center;
   font-size: 1.35rem;
}

/* PRODUCTS SECTION */
.products-container {
   /* delete background and padding later */
   background-color: lightcoral;
   padding: 1rem;

   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.products-container .product {
   background-color: rgb(135, 206, 250);
   width: 100%;

   display: flex;
   justify-content: space-between;
   gap: 1rem;
   flex: 1;
}
.products-container .product .infos {
   background-color: yellowgreen;
   padding-right: 1rem;
   max-width: 40%;
   width: 100%;

   display: flex;
   flex-direction: column;
   flex: 2;
}
.products-container .product .infos .row-details {
   display: flex;
   gap: 1rem;
}
.products-container .product .infos .row-details .item-infos{
   width: 100%;
   padding: 10px;
}
/* COUPON SECTION */
.coupon {
   display: flex;
   padding: 1.5rem 0;
   border-top: 2px solid black;
   border-bottom: 2px solid black;
}

.coupon input {
   max-width: 300px;
   width: 100%;
   padding: .5rem;
   margin-right: .5rem;
}

.coupon button {
   width: 100px;
   padding: .5rem;
}

/* CHECKOUT SECTION */
.checkout {
   background-color: aquamarine;
   min-width: 50%;
   margin-bottom: 4rem;
   padding: 1rem;

   display: flex;
   align-self: flex-end;
   flex-direction: column;
}

.checkout-top, .checkout-bottom  {
   display: flex;
   flex-direction: column;
}

.checkout-top {
   border-bottom: 2px solid black;
}
.checkout div {
   display: flex;
   justify-content: flex-end;
}
.checkout p, .checkout button, .checkout a {
   /* margin-top: 2rem; */
   margin-left: 10rem;
}
