/* WEBSITES FOR IMAGES:

https://www.pngwing.com
https://unsplash.com
*/


/* padding between sections 4rem */
/* gap between cards 20px */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
   font-family: "Roboto";
}


/* HEADER ---------------------------------------------------- HEADER */
header {   
   background-image: url(https://images.unsplash.com/photo-1536318431364-5cc762cfc8ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   height: 600px;

   display: flex;
   justify-content: center;
}

.container-header {
   margin: 0 30px;
   width: 1200px;
   
   display: flex;
   flex-direction: column;
}


/* NAV ---------------------------------------------------- NAV */
nav {
   border-bottom: 1px solid black;
   padding: 30px 0;
   
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav a {
   color: black;
   font-size: large;
}

.container-links {
   display: flex;
   gap: 40px;
}


/* HERO ---------------------------------------------------- HERO */
.hero {
   display: flex;
   align-items: center;
   flex-grow: 1;
}

.container-hero {
   width: 50%;
}


/* FEATURED ---------------------------------------------------- FEATURED */
.featured {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.featured > h2 {
   margin: 4rem 30px 2rem;
}

.featured .container {
   margin: 0 30px 5rem;
   max-width: 1200px;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.featured .container .card {
   margin-bottom: 2rem;
   max-width: 300px;

   display: flex;
   align-items: center;
   flex-direction: column;
}

.featured .container .card img {
   width: 300px;
   height: 200px;
   object-fit: cover;
   border-radius: 10px;
   margin-bottom: 10px;
}


/* COLLECTIONS ---------------------------------------------------- COLLECTIONS */
.collections {
   background-color: lightslategray;

   display: flex;
   justify-content: center;
}

.collections .container {
   background-color: rgb(223, 223, 223);
   border-radius: 20px;
   margin: 5rem 30px;
   padding: 2rem 1rem;
   width: 100%;
   max-width: 1200px;
   
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap-reverse;
   gap: 20px;
}

.collections .image {
   display: flex;
   justify-content: center;
   flex: 1;
}

.collections img {
   max-width: 400px;
}

.collections .text {
   padding-bottom: 30px;
   min-width: 50%;

   display: flex;
   flex-direction: column;
   flex: 1;
}


/* TESTIMONIALS ---------------------------------------------------- TESTIMONIALS */
.testimonials {
   background-color: lightslategray;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.testimonials > h2 {
   margin: 4rem 30px 2rem;
}

.testimonials .container {
   margin: 0 30px 5rem;
   max-width: 1200px;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.testimonials .container .card {
   width: 350px;
   border: 2px solid;
   padding: 20px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.testimonials .container .card img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   border-radius: 50px;

   display: flex;
}

.testimonials .container .card .star-icons {
   margin: 10px 0 0;
   color: rgb(246, 246, 32);
}


/* NEW ARRIVALS ---------------------------------------------------- NEW ARRIVALS */
.new-arrivals {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.new-arrivals > h2 {
   margin: 4rem 30px 2rem;
}

.new-arrivals .container {
   margin: 0 30px 5rem;
   max-width: 1200px;

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.new-arrivals .container .card {
   width: 250px;
   padding: 10px;
   background-color: rgb(223, 223, 223);

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.new-arrivals .container .card img {
   width: 100%;
   height: 300px;
   object-fit: cover;

   display: flex;
}

.new-arrivals .container .card h3 {
   margin: 10px 0;
}


/* NEWSLETTER ---------------------------------------------------- NEWSLETTER */
.newsletter {
   display: flex;
   justify-content: center;
}

.newsletter > h2 {
   margin: 4rem 30px 2rem;
}

.newsletter .container {
   margin: 4rem 30px;
   max-width: 1200px;
   text-align: center;

   display: flex;
   flex-direction: column;
   gap: 10px;
}

.newsletter .container input {
   width: 450px;
   padding: 1rem;
}

.newsletter .container button {
   padding: 1rem 2rem;
   margin-left: 10px;
   background-color: lightgray;
}


/* SOCIAL NETWORKS ---------------------------------------------------- SOCIAL NETWORKS */
.social-network {
   background-color:  rgb(223, 223, 223);
   display: flex;
   justify-content: center;
}

.social-network .container {
   padding: 2rem 0;
   font-size: 1.25rem;
   margin: 0 30px;
   max-width: 1200px;

   display: flex;
   justify-content: space-between;
   flex: 1;
}

.social-network .container .icons {
   display: flex;
   justify-content: flex-end;
}

.social-network .container .icons li a {
   margin-left: 40px;
   color: lightslategray;
}

.social-network .container .icons li:nth-child(1) a:hover {
   color: #1877F2;
}

.social-network .container .icons li:nth-child(2) a:hover {
   color: black;
}

.social-network .container .icons li:nth-child(3) a:hover {
   color: #E4405F;
}

.social-network .container .icons li:nth-child(4) a:hover {
   color: #00C300;
}


/* FOOTER ---------------------------------------------------- FOOTER */
footer {
   background-color: lightslategray;
   
   display: flex;
   align-items: center;
   flex-direction: column;
}

footer .container {
   margin: 3rem 30px;
   max-width: 1200px;

   display: flex;
   /* align-items: baseline; */
   flex-wrap: wrap;
   flex: 1;
   gap: 20px 10px;
}

footer .container .card {
   width: 250px;

   display: flex;
   flex-direction: column;
}

footer .container .card ul {
   line-height: 2;
}

footer .container .card p {
   line-height: 1.25;
}

footer .container .card a {
   color: black;
}

footer .container .card:nth-child(1) {
   width: 370px;
   margin-right: 50px;

}

footer .container .card h2 {
   margin-bottom: 30px;
}

footer .container .card.contact li a {
   margin-left: 10px;
}

footer .container .card.contact li i {
   color: rgb(223, 223, 223);
}

footer .copyright {
   background-color: rgb(91, 106, 120);
   padding: 1rem;
   margin: 0 30px;
   width: 100%;
   text-align: center;
}
